<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавить урок</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<header class="bg-dark py-3">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{{ url_for('main') }}"><img src="{{ url_for('static', filename='icon/chest.svg') }}" alt="Главная" width="80" height="80"></a>
            <a class="navbar-brand" href="{{ url_for('AllCourses') }}">Каталог курсов</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item nav-search">
                        <form class="d-flex" action="{{ url_for('Search') }}" method="GET">
                            <input class="form-control me-2" type="text" name="query" placeholder="Поиск...">
                            <button class="btn btn-outline-light" type="submit"><img src="{{ url_for('static', filename='icon/search-icon.png') }}" alt="Искать"></button>
                        </form>
                    </li>
                    <li class="nav-item nav-profile"><a href="{{ url_for('UserProfile') }}"><img src="{{ url_for('static', filename='icon/user.png') }}" alt="Профиль" width="50" height="50"></a></li>
                    <li class="nav-item"><a class="btn btn-primary" href="{{ url_for('AddCourse') }}" style="font-size: 1.0rem;">Добавить курс</a></li>
                    <li class="nav-item"><a class="btn btn-primary" href="{{ url_for('logout') }}">Выйти</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>

<div class="container my-5">
    <h1>Добавить урок</h1>
    <form method="POST" enctype="multipart/form-data">
        {{ Form.hidden_tag() }}
        <input type="hidden" name="form-name" value="lesson-form">
        <div class="mb-3">
            {{ Form.NameLesson.label }} {{ Form.NameLesson() }}
        </div>
        <div class="mb-3">
            {{ Form.FileLesson.label }} {{ Form.FileLesson() }}
        </div>
        <div class="mb-3">
            {{ Form.TextLesson.label }} {{ Form.TextLesson() }}
        </div>
            {{ Form.Submit() }}
    </form>
</div>
{% include 'footer.html' %}
</body>
</html>
