<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Курсы онлайн</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<body>

    {% include 'header.html' %}

<section class="hero">
    <div class="container">
        <h1>Платформа онлайн-курсов SkillChest</h1>
        <p>Выбирайте и обучайтесь с нами!</p>
        <a href="{{ url_for('AllCourses') }}" class="btn btn-primary">Начать обучение</a>
    </div>
</section>

<section class="courses">
    <div class="container">
        <h2>Наши курсы</h2>
        <div class="row">
            <div class="col-md-6 course">
                <h3>Курс по HTML</h3>
                <p>Научитесь создавать веб-страницы с нуля.</p>
                <a href="#" class="btn btn-outline-primary">Узнать больше</a>
            </div>
            <div class="col-md-6 course">
                <h3>Курс по CSS</h3>
                <p>Изучите каскадные таблицы стилей для стилизации ваших страниц.</p>
                <a href="#" class="btn btn-outline-primary">Узнать больше</a>
            </div>
        </div>
    </div>
</section>

{% include 'footer.html' %}

</body>
</html>
